body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}
.banner{
    background: linear-gradient(1000deg, #1e8a57, #199e60);
    height: 100px;
}
.cartao{
    border-radius: 20px;
    background-color: black;
    text-align: center;
    height: 700px;
    width: 450px;
    padding-bottom: 30px;
    color: #f1e756;
    overflow: hidden;
    box-shadow: 0px 0px 15px 1px #94cfa460;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px;
}

.foto{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -60px;
    object-fit: cover;
    border: 5px solid #1f1f1f;
    animation: girar 3s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

.bio{
    font-size: 0.9rem;
    color: #379c59;
    padding: 0 20px;
    margin-bottom: 10px;
}

.botao{
    text-decoration: none;
    color: #1f1f1f;
    background: #02cf2e;
    padding: 12px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 4px 4px 0;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 0px 15px 1px #5a4018;
}

.botao:hover{
    background: #faf86d;
    color: #1f1f1f;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(150, 151, 64);
    border-radius: 5px;
}

.video{
    display: flex;
    justify-content: center;

    margin-top: 10px;

    padding: 20px;
}